@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body *{
	/* box-sizing: border-box; */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

select {
	border-radius: 10px;
    padding: 5px;
}

button {
	border : 0;
	border-radius: 10px;
    padding: 6px 15px;
    cursor: pointer;
}
input {
	border-radius: 10px;
    padding: 5px;
}
.wrap-container{
	display:flex;
}

.calendar-container {
	padding : 25px;
    width: 400px;
}

.calendar-container .calendar-header {
	height: 110px;
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
}
.calendar-container .calendar-header button{
	background-color: transparent;
	margin: 10px;
	height: 50px;
    font-size: 30px;
    font-weight: 500;
	border: 0px;
}
.calendar-container .calendar-header #calendar-title {
	display: flex;
	flex-direction: row;
	padding: 15px;
}

.calendar-toolbar{
    display: flex;
    justify-content: flex-end;
}


/* 요일  */
.calendar-days {
	width: 382px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid #c1c1c1;
}
.day-name {
    color: #333;
}

/* 날짜  */
.day{
	color: #212121;
	padding: 10px;
	font-size: 14px;
}
.calendar-dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
	height : 300px;
	width : 380px;
}
.sunday {
    color: red !important;
}
.saturday {
    color: blue !important;
}
.calendar-dates .prev, .calendar-dates .next {
	color: #8f8f8f !important;
}


.selectBox{
	height: 150px;
}

#submitBaseDateBtn{
	width: 160px;
}


/* 근무유형  */
#workTypePreviewBox{
    padding: 0;
	box-sizing: border-box;
	margin-top: 8px;
	display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#workTypePreviewBox li{
    border-radius: 6px;
    font-size: 15px;
    list-style-type: none;
    padding: 12px 4px;
    margin: 5px 4px;
    width: 42px;
    height: 22px;
    text-align: center;
    display:flex;
	justify-content: center;
}
#workTypePreviewBox .work-label{
	margin-left: 6px;
}
#workTypePreviewBox .day{ background-color :  #fff0a2;}
#workTypePreviewBox .night{ background-color :  #ffbe58;}
#workTypePreviewBox .rest{ background-color :  #ffa874;}
#workTypePreviewBox .off{ background-color :  #c7c7c7;}
#workTypePreviewBox .holiday{ background-color : #ffa0a0;}
#workTypePreviewBox .other{ background-color :  #fff0a2;}

.delete-btn {
    font-weight: 500;
    color: #5d5d5d;
    cursor: pointer;
    position: relative;
    right: -4px;
    top: -13px;
}

.baseBox{
	margin-top: 10px;
}

#submitBaseDateBtn {
    margin-top: 8px;
    width: 180px;
}